// $primary: #0F3D3E;
// $secondary: #E2DCC8;
// $accent: #100F0F;
// $warning: #F1F1F1;
// $adv: 
// // 2nd variant
$primary: #000;
$secondary: #F8EEDF;
$accent: #E8C999;
$warning: #8E1616;
$adv: #ce0090ce;
$adv2: #f385b8ce;


$mainFont: 'MilligramVariable';

$standart: 5px 10px;

$font-size-large: 60px;
$font-size-medium: 34px;
$font-size-small: 26px;
$font-size-small-s: 14px;