@use '@styles/_variables.scss' as *;
@use '@styles/mixins/_container.scss' as *;
@use '@styles/_media.scss' as *;

.dreamstory {
    @include flex(column);
    gap: 20px;
    font-family: $mainFont;
    color: $primary;
}

.dreamstory_footer {
    @include flex(row);
    justify-content: space-between;
}

.dreamstory_actions {
    @include flex(row);
    justify-content: space-between;
}
